# Default configuration options
CONFIG_WIFI_SSID="MyWiFi"
CONFIG_WIFI_PASSWORD="MyPassword"
CONFIG_SPI_MOSI_PIN=7
CONFIG_SPI_SCLK_PIN=6
CONFIG_SPI_CS_PIN=10
CONFIG_BACKLIGHT_PIN=5
CONFIG_BACKLIGHT_LEDC_CHANNEL=0
CONFIG_PM_ENABLE=y
CONFIG_LVGL_PORT=y
